.img_play_photo_01_thumb{
  background: transparent url("../images/play_photo/01_thumb.jpg") 0 0 no-repeat;
  width: 300px;
  height: 200px;
}
.img_play_photo_02{
  background-image: url(../images/play_photo/02.jpg);
  width: 600px;
  height: 400px;
}
.img_play_photo_01_thumb{
  background: transparent url('../images/play_photo/01_thumb11.png') 0 0 no-repeat;
  width: 300px;
  height: 200px;
}
.img_play_photo_02{
  background-image: url("../images/play_photo/0233.png");
  width: 600px;
  height: 400px;
}
.img_play_photo_multiple{
  background:
   url(number.png) 600px 10px no-repeat,
   url("thingy.png") 10px 10px no-repeat,
   url('Paper-4.png');
}
.webp .img_play_photo_01_thumb{
  background-image: url(../images/play_photo/01_thumb.webp);
}
.webp .img_play_photo_02{
  background-image: url(../images/play_photo/02.webp);
}
.webp .img_play_photo_01_thumb{
  background-image: url(../images/play_photo/01_thumb11.webp);
}
.webp .img_play_photo_02{
  background-image: url(../images/play_photo/0233.webp);
}
.webp .img_play_photo_multiple{
  background-image: url(number.webp),url(thingy.webp),url(Paper-4.webp);
}
